@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: blur(2px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 2.3rem;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.nav a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav .btn {
    width: 155px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
}

.nav .btn:hover {
    background: #fff;
    color: #090f1d;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: 100px; 
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.pokemon-info {
    margin-top: 20px;
    display: none; 
}

.pokemon-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pokemon-text-info {
    text-align: left;
}

#pokemonImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.catalog {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.catalog h1 {
    color: #fff;
    margin-bottom: 20px;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.catalog-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

.catalog-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.catalog-card h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}



::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #000102; 
    border-radius: 10px; 
    height: 50px; 
    min-height: 30px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #0a4c52; /
}


